body {
 margin-left:40px;
}

h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ol {
  list-style-position: inside;
  text-align: left;
}
.dark-background, .light-background {
  margin: 20px;
}

.black-background {
  background-color: black;
  color: antiquewhite;
}
.light-hide {
  display: none;
}
.white-background {
  background-color: white;
}
